<div id="container">
{{#if authed}}
	<div id="profile">
		{{#if profile}}
			<img src="{{profile.thumbnail}}" /> Hey {{profile.name}}, <a href="#" id="logout">Logout</a>
		{{else}}
			<button id="google-login">Login with Google</button>
		{{/if}}
	</div>
{{/if}}


<div id="todos-block">
  <h2>Global Todos</h2>

  <ul class="todos">
    <li><input type="text" placeholder="add todo item" id="new-todo" autofocus /><button id="add-todo">Add</button></li>
    {{#each todos}}
      <li><input type="checkbox" class="completed" data-id="{{id}}" /> {{title}}</li>
    {{/each}}
  </ul>

  <style>
  .todos {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .todos li {
    list-style: none;
  }
  </style>
</div>
</div>
