<div id="container">

<div id="profile">
	{{#if auth}}
		<img src="{{auth.profile.thumbnail}}" /> Hey {{auth.profile.name}}, <a href="#" id="logout">Logout</a>
	{{else}}
		<button id="google-login">Login with Google</button>
	{{/if}}
</div>


<div id="todos-block">
  <div class="col-md-6">
		<h2>Global Todos</h2>

		<ul id="global-todos" class="todos">
			<li>
				<input type="text" placeholder="add todo item" class="new-todo" autofocus />
				<button class="add-todo">Add</button>
      </li>
			{{#each global.todos}}
				<li>
					<input type="checkbox" class="completed" data-id="{{id}}" />
					{{title}}
				</li>
			{{/each}}
		</ul>
  </div>	

  <div class="col-md-6">
		<h2>Personal Todos</h2>

		<ul id="personal-todos" class="todos">
			<li>
				<input type="text" placeholder="add todo item" class="new-todo" autofocus />
				<button class="add-todo">Add</button>
			</li>
			{{#each personal.todos}}
				<li>
					<input type="checkbox" class="completed" data-id="{{id}}" />
					{{title}}
				</li>
			{{/each}}
		</ul>
  </div>	

  <style>
  .todos {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .todos li {
    list-style: none;
  }
  </style>
</div>
</div>
